@import "@fortawesome/fontawesome-free/css/all.css";
// @import "node_modules/bootstrap/scss/bootstrap";

/* variables */
$primary-orange: rgb(233, 97, 12);
$primary-white: rgb(244, 229, 220);
$primary-black: #0e0603;
$accent-orange: rgb(209, 121, 66);
$background-black: rgb(29, 26, 26);

/* general settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

.d-flex {
  display: flex;
}

body {
  font-family: Avenir-Roman, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  background-color: $background-black;
  color: $primary-white;
}

header,
nav,
footer,
ul,
li,
aside,
main,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
footer,
header,
nav {
  font-family: Bebas Neue, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

video,
audio {
  display: inline-block;
}

a {
  display: block;
  text-decoration: none;
  color: $primary-white;
  background-color: transparent;
}

i {
  font-size: 2.4rem;
  color: $primary-white;
  font-weight: 100;
}

/* button basic settings */
button {
  font-weight: 200;
  font-size: 10pt;
  padding: 15px;
  color: white;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
}

button:hover,
button:focus {
  border: 1px solid $primary-white;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $primary-orange;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  /* my slogan */
  .slogan {
    padding-left: 5px;
    .my-name {
      letter-spacing: 0.1rem;
      font-size: 3rem;
    }
  }
  /* language buttons */
  .choice-language {
    position: absolute;
    top: 40%;
    right: 5%;
    text-align: center;
    overflow: hidden;
  }

  /* burger */
  .menu {
    position: absolute;
    top: 30%;
    left: 90%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.5s ease;
    height: 50px;
    &:hover .bar {
      box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
    }
    .bar {
      width: 35px;
      height: 5px;
      background: $primary-white;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      transition: 0.4s ease;
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
  #hi {
    position: absolute;
    left: -999px;
    top: -999px;
  }
  #hi:checked + .menu {
    transform: translate(-50%, -50%) rotatey(180deg);
    .bar {
      transform: rotatey(180deg) rotatex(360deg);
      &:first-child {
        transform: rotate(-45deg);
        margin-top: 20px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        margin-top: -30px;
        transform: rotate(45deg);
      }
    }
  }
}

/* show with slower transition */
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.show {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: fade-in;
  animation-duration: 0.8s;
}

.hide {
  display: none;
}

/* burger menu */
.open,
.closed {
  position: fixed;
  left: 1vh;
  top: 1vh;
  opacity: 0.8;
  margin: 1vw;
  i {
    font-weight: light;
  }
}

/* sections rubriques */

.all-sections {
  .rubrique {
    margin-top: 100px;
  }

  h1 {
    text-align: right;
    padding-right: 10px;
    padding-top: 60px;
    font-size: 3.5rem;
    letter-spacing: 5px;
  }

  h2 {
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
    margin: auto;
  }

  .accent {
    color: $accent-orange;
  }
  p {
    font-size: 14px;
    line-height: 25px;
    margin: 0 0 20px 0;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: justify;
    text-justify: inter-character;
  }
  .photo-box {
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
  }
  .section-top {
    background-color: $primary-black;
  }
  .section-content {
    padding: 10% 5%;
  }
  .about {
    margin-top: 150px;
    .my-photo {
      background-image: url("./static/alessia-41.jpg");
    }

    .btn-contact {
      background-color: $accent-orange;
      margin-left: 30vw;
      margin-top: 30px;
    }
  }
  .web-dev {
    .programming {
      background-image: url("./static/alessia-12.jpg");
    }
    .skill-container {
      background-color: $primary-black;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      .card {
        background-color: $primary-white;
        color: $primary-black;
        margin: 50px;
        width: 50%;
        height: 200px;
      }
    }
  }
  .translation {
  }
  .background {
  }
  .contact {
  }
}

footer {
  position: relative;
  background-color: $primary-orange;
  color: $primary-white;
  width: 100%;
  height: 100px;
  letter-spacing: 0.05rem;
  margin-top: 150px;
  li {
    padding-left: 30px;
  }

  .row {
    position: absolute;
    top: 25%;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: $primary-black;
    color: $primary-white;

    .link-languages {
      li:hover,
      li:focus {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        font-weight: bold;
      }
    }

    .link-icons {
      li,
      i {
        line-height: 2.2vh;
        text-align: center;
        font-size: 1.3rem;
      }

      li:hover,
      a:hover,
      i:hover {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        font-weight: bold;
      }
      a {
        color: $primary-white;
      }

      .fab,
      .fas {
        width: 2.8vh;
      }
    }
  }
}

/* MEDIA-QUERIES */

/* variables */
$sm: 640px; //smartphones
$md: 768px; //tablets
$lg: 1024px; //laptop
$xl: 1280px; //desktop

/* view for tablets */
@media only screen and (min-width: $md) {
  .landing-page {
    visibility: visible;
    animation-name: none;
    background-color: $background-black;
  }
}

/* view for desktop and laptop */
@media only screen and (min-width: $lg) {
  .landing-page,
  .nav-bar,
  footer {
    visibility: visible;
  }

  i {
    font-size: 2.4rem;
    font-weight: 100;
  }

  /* landing page */
  @keyframes colorFade {
    from {
      background-color: $primary-black;
    }
    to {
      background-color: $primary-orange;
    }
  }

  .landing-page {
    /* animation */
    background-color: $primary-orange;
    animation-name: colorFade;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .slogan {
      margin: auto;
      text-align: center;
      text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.7);
      .my-name {
        letter-spacing: 0.6rem;
        font-size: 8rem;
      }
      .my-title-web {
        font-size: 4rem;
      }
      .my-title-trad {
        font-size: 3rem;
      }
      ul {
        justify-content: center;
        align-items: center;
      }
      li {
        padding: 2px;
        margin: 20px;
      }
      a {
        padding: 8px;
        font-size: 2rem;
        color: $primary-white;
        text-shadow: none;
      }
    }
  }
  /* nav */
  .nav-bar {
    background-color: $primary-orange;
    color: $primary-white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 5%;

    .nav-bar-links {
      ul {
        height: 85%;
        justify-content: space-around;
        position: absolute;
        margin-top: 5px;
        left: 25%;
        top: 5%;
        list-style-type: none;
        writing-mode: vertical-rl;
        text-align: right;
        background-color: $primary-black;
        transform: rotate(180deg);
      }
      li {
        margin: 8px;
      }

      a {
        color: $primary-white;
        font-size: 1rem;
        letter-spacing: 0.2rem;
        font-weight: 500;
      }
      a:hover {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
      }
      a:hover,
      a:focus,
      a:active {
        margin-right: 100px;
        font-weight: 600;
        font-size: 1.3rem;
      }

      a:active {
        border: 2.5px solid $primary-white;
      }
    }
  }

  /* footer for lg */
  footer {
    background-color: $primary-orange;
    color: $primary-white;
    height: 30%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;

    .row {
      justify-content: space-around;
      align-items: center;
      margin-top: 15px;
      width: 100%;
      height: 5%;
      background-color: $primary-black;
      color: $primary-white;

      .link-languages {
        li:hover,
        li:focus {
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          transition: all 0.2s;
          font-weight: bold;
        }
      }

      .link-icons {
        li,
        i {
          line-height: 2.2vh;
          text-align: center;
          font-size: 1.3rem;
        }

        li:hover,
        a:hover,
        i:hover {
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          transition: all 0.2s;
          font-weight: bold;
        }
        a {
          color: $primary-white;
        }

        .fab,
        .fas {
          width: 2.8vh;
        }
      }
    }
  }
}
