/* MEDIA-QUERIES */

/* variables */
$sm: 640px; //smartphones
$md: 768px; //tablets
$lg: 1024px; //lapto
$xl: 1280px; //desktop

/* mobile */
.about {
  .photo-box {
    background-image: url("./static/alessia-41.jpg");
  }

  blockquote {
    padding: 18% 0 6% 0;
    opacity: 1;
    text-align: right;
    font-size: 1.2rem;
    line-height: 35px;
    font-style: italic;
    letter-spacing: 3px;
  }

  .btn-orange {
    margin-top: 30px;
    padding: 15px 30px;
  }
}

/* view for tablets */
@media only screen and (min-width: $md) {
}

/* view for desktop and laptop */
@media only screen and (min-width: $lg) {
  .about {
    blockquote {
      padding: 10% 10% 3% 18%;
      letter-spacing: 3px;
    }
    .presentation {
      display: flex;
      width: 100%;
      .photo-box {
        width: 600px;
        height: 400px;
        margin: 10px;
      }
    }
    p {
      padding: 10px 50px;
      font-size: 1.1rem;
    }
    a {
      font-size: 1rem;
    }
  }
}
