/* general settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body {
  font-family: Avenir-Roman, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  background-color: $background-black;
  color: $primary-white;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

header,
nav,
footer,
ul,
li,
aside,
main,
section,
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
footer,
header,
nav {
  font-family: Bebas Neue, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

video,
audio {
  display: inline-block;
}

a {
  display: block;
  text-decoration: none;
  color: $primary-white;
  background-color: transparent;
}

i {
  font-size: 2.4rem;
  color: $primary-white;
  font-weight: 100;
}

/* button basic settings */
button {
  font-weight: 200;
  font-size: 10pt;
  padding: 15px;
  color: white;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
}

button:hover,
button:focus {
  border: 1px solid $primary-white;
  cursor: pointer;
}

.hide {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}
