/* variables */
$primary-orange: rgb(233, 97, 12);
$primary-white: rgb(244, 229, 220);
$primary-white-hover: saturate($primary-white, 100%);
$primary-black: #0e0603;
$accent-orange: rgb(209, 121, 66);
$accent-orange-hover: saturate($accent-orange, 25%);
$background-black: rgb(29, 26, 26);
$card-color: white;
