/* variables */
$primary-orange: #f3664d;
$primary-white: #f4e5dc;
$primary-blue: #000d2a;
$accent-orange: #ef806c;
$accent-orange-hover: saturate($accent-orange, 25%);
$secondary-blue: #0c2f3d;
$card-color: white;
